In [10]:
import qlib
from qlib.data import D

In [11]:
provider_uri = './data/qlib_data/sh000001_data'

qlib.init(provider_uri=provider_uri)

[6976:MainThread](2021-01-10 21:18:52,323) INFO - qlib.Initialization - [__init__.py:42] - default_conf: client.
[6976:MainThread](2021-01-10 21:18:54,358) WARNING - qlib.Initialization - [__init__.py:57] - redis connection failed(host=127.0.0.1 port=6379), cache will not be used!
[6976:MainThread](2021-01-10 21:18:54,362) INFO - qlib.Initialization - [__init__.py:77] - qlib successfully initialized based on client settings.
[6976:MainThread](2021-01-10 21:18:54,366) INFO - qlib.Initialization - [__init__.py:80] - data_path=C:\Users\yin\source\repos\data-mining\stock-prediction\data\qlib_data\sh000001_data

In [12]:
fields = ["$open", "$close", "$high", "$low", "$pre_close", "$change", "$pct_chg", "$volume", "$amount"]
df = D.features(D.instruments('all'), fields)
df.head()

                            $open      $close       $high        $low  \
instrument datetime
SH000001   1990-12-20  104.300003  104.389999  104.389999   99.980003
           1990-12-21  109.070000  109.129997  109.129997  103.730003
           1990-12-24  113.570000  114.550003  114.550003  109.129997
           1990-12-25  120.089996  120.250000  120.250000  114.550003
           1990-12-26  125.269997  125.269997  125.269997  120.250000

                       $pre_close  $change  $pct_chg  $volume  $amount
instrument datetime
SH000001   1990-12-20   99.980003     4.41    4.4109    197.0  84000.0
           1990-12-21  104.389999     4.74    4.5407     28.0  16000.0
           1990-12-24  109.129997     5.42    4.9666     32.0  31000.0
           1990-12-25  114.550003     5.70    4.9760     15.0   6000.0
           1990-12-26  120.250000     5.02    4.1746    100.0  53000.0