In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('./data/raw/SH000001.csv')
df

,date,symbol,close,high,low,open,pre_close,change,pct_chg,volume,amount
0,2021/1/8,SH000001,3570.1082,3588.0625,3544.8912,3577.6923,3576.2046,-6.0964,-0.1705,345557896,5.02E+11
1,2021/1/7,SH000001,3576.2046,3576.2046,3526.6174,3552.9087,3550.8767,25.3279,0.7133,405348226,5.46E+11
2,2021/1/6,SH000001,3550.8767,3556.8022,3513.1262,3530.9072,3528.6767,22.2,0.6291,370230926,5.22E+11
3,2021/1/5,SH000001,3528.6767,3528.6767,3484.7151,3492.1912,3502.9584,25.7183,0.7342,407995934,5.68E+11
4,2021/1/4,SH000001,3502.9584,3511.6554,3457.2061,3474.6793,3473.0693,29.8891,0.8606,380790800,5.23E+11
...,...,...,...,...,...,...,...,...,...,...,...
7343,1990/12/25,SH000001,120.2500,120.2500,114.5500,120.0900,114.55,5.7,4.976,15,6000
7344,1990/12/24,SH000001,114.5500,114.5500,109.1300,113.5700,109.13,5.42,4.9666,32,31000
7345,1990/12/21,SH000001,109.1300,109.1300,103.7300,109.0700,104.39,4.74,4.5407,28,16000
7346,1990/12/20,SH000001,104.3900,104.3900,99.9800,104.3000,99.98,4.41,4.4109,197,84000
7347,1990/12/19,SH000001,99.9800,99.9800,95.7900,96.0500,None,None,None,1260,494000

In [10]:
# 转换日期
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date')
df = df.set_index(keys=['date'])
df

,symbol,close,high,low,open,pre_close,change,pct_chg,volume,amount
date,,,,,,,,,,
1990-12-19,SH000001,99.9800,99.9800,95.7900,96.0500,None,None,None,1260,494000
1990-12-20,SH000001,104.3900,104.3900,99.9800,104.3000,99.98,4.41,4.4109,197,84000
1990-12-21,SH000001,109.1300,109.1300,103.7300,109.0700,104.39,4.74,4.5407,28,16000
1990-12-24,SH000001,114.5500,114.5500,109.1300,113.5700,109.13,5.42,4.9666,32,31000
1990-12-25,SH000001,120.2500,120.2500,114.5500,120.0900,114.55,5.7,4.976,15,6000
...,...,...,...,...,...,...,...,...,...,...
2021-01-04,SH000001,3502.9584,3511.6554,3457.2061,3474.6793,3473.0693,29.8891,0.8606,380790800,5.23E+11
2021-01-05,SH000001,3528.6767,3528.6767,3484.7151,3492.1912,3502.9584,25.7183,0.7342,407995934,5.68E+11
2021-01-06,SH000001,3550.8767,3556.8022,3513.1262,3530.9072,3528.6767,22.2,0.6291,370230926,5.22E+11
2021-01-07,SH000001,3576.2046,3576.2046,3526.6174,3552.9087,3550.8767,25.3279,0.7133,405348226,5.46E+11
2021-01-08,SH000001,3570.1082,3588.0625,3544.8912,3577.6923,3576.2046,-6.0964,-0.1705,345557896,5.02E+11

In [11]:
np.where(df.isnull())

(array([], dtype=int64), array([], dtype=int64))

In [12]:
# 数据类型限制为float， 无法转换则为NaN
float_cols = ['close', 'high', 'low', 'open', 'pre_close', 'change', 'pct_chg', 'volume', 'amount']
df[float_cols] = df[float_cols].apply(pd.to_numeric, errors = 'coerce')
df

,symbol,close,high,low,open,pre_close,change,pct_chg,volume,amount
date,,,,,,,,,,
1990-12-19,SH000001,99.9800,99.9800,95.7900,96.0500,NaN,NaN,NaN,1260,4.940000e+05
1990-12-20,SH000001,104.3900,104.3900,99.9800,104.3000,99.9800,4.4100,4.4109,197,8.400000e+04
1990-12-21,SH000001,109.1300,109.1300,103.7300,109.0700,104.3900,4.7400,4.5407,28,1.600000e+04
1990-12-24,SH000001,114.5500,114.5500,109.1300,113.5700,109.1300,5.4200,4.9666,32,3.100000e+04
1990-12-25,SH000001,120.2500,120.2500,114.5500,120.0900,114.5500,5.7000,4.9760,15,6.000000e+03
...,...,...,...,...,...,...,...,...,...,...
2021-01-04,SH000001,3502.9584,3511.6554,3457.2061,3474.6793,3473.0693,29.8891,0.8606,380790800,5.230000e+11
2021-01-05,SH000001,3528.6767,3528.6767,3484.7151,3492.1912,3502.9584,25.7183,0.7342,407995934,5.680000e+11
2021-01-06,SH000001,3550.8767,3556.8022,3513.1262,3530.9072,3528.6767,22.2000,0.6291,370230926,5.220000e+11
2021-01-07,SH000001,3576.2046,3576.2046,3526.6174,3552.9087,3550.8767,25.3279,0.7133,405348226,5.460000e+11
2021-01-08,SH000001,3570.1082,3588.0625,3544.8912,3577.6923,3576.2046,-6.0964,-0.1705,345557896,5.020000e+11

In [13]:
# 获取label
df['label'] = [1 if change >= 0 else 0 for change in df['change'].shift(-1)]
df

,symbol,close,high,low,open,pre_close,change,pct_chg,volume,amount,label
date,,,,,,,,,,,
1990-12-19,SH000001,99.9800,99.9800,95.7900,96.0500,NaN,NaN,NaN,1260,4.940000e+05,1
1990-12-20,SH000001,104.3900,104.3900,99.9800,104.3000,99.9800,4.4100,4.4109,197,8.400000e+04,1
1990-12-21,SH000001,109.1300,109.1300,103.7300,109.0700,104.3900,4.7400,4.5407,28,1.600000e+04,1
1990-12-24,SH000001,114.5500,114.5500,109.1300,113.5700,109.1300,5.4200,4.9666,32,3.100000e+04,1
1990-12-25,SH000001,120.2500,120.2500,114.5500,120.0900,114.5500,5.7000,4.9760,15,6.000000e+03,1
...,...,...,...,...,...,...,...,...,...,...,...
2021-01-04,SH000001,3502.9584,3511.6554,3457.2061,3474.6793,3473.0693,29.8891,0.8606,380790800,5.230000e+11,1
2021-01-05,SH000001,3528.6767,3528.6767,3484.7151,3492.1912,3502.9584,25.7183,0.7342,407995934,5.680000e+11,1
2021-01-06,SH000001,3550.8767,3556.8022,3513.1262,3530.9072,3528.6767,22.2000,0.6291,370230926,5.220000e+11,1
2021-01-07,SH000001,3576.2046,3576.2046,3526.6174,3552.9087,3550.8767,25.3279,0.7133,405348226,5.460000e+11,0
2021-01-08,SH000001,3570.1082,3588.0625,3544.8912,3577.6923,3576.2046,-6.0964,-0.1705,345557896,5.020000e+11,0

In [14]:
# 丢弃NaN行
df = df.dropna()
df

,symbol,close,high,low,open,pre_close,change,pct_chg,volume,amount,label
date,,,,,,,,,,,
1990-12-20,SH000001,104.3900,104.3900,99.9800,104.3000,99.9800,4.4100,4.4109,197,8.400000e+04,1
1990-12-21,SH000001,109.1300,109.1300,103.7300,109.0700,104.3900,4.7400,4.5407,28,1.600000e+04,1
1990-12-24,SH000001,114.5500,114.5500,109.1300,113.5700,109.1300,5.4200,4.9666,32,3.100000e+04,1
1990-12-25,SH000001,120.2500,120.2500,114.5500,120.0900,114.5500,5.7000,4.9760,15,6.000000e+03,1
1990-12-26,SH000001,125.2700,125.2700,120.2500,125.2700,120.2500,5.0200,4.1746,100,5.300000e+04,1
...,...,...,...,...,...,...,...,...,...,...,...
2021-01-04,SH000001,3502.9584,3511.6554,3457.2061,3474.6793,3473.0693,29.8891,0.8606,380790800,5.230000e+11,1
2021-01-05,SH000001,3528.6767,3528.6767,3484.7151,3492.1912,3502.9584,25.7183,0.7342,407995934,5.680000e+11,1
2021-01-06,SH000001,3550.8767,3556.8022,3513.1262,3530.9072,3528.6767,22.2000,0.6291,370230926,5.220000e+11,1
2021-01-07,SH000001,3576.2046,3576.2046,3526.6174,3552.9087,3550.8767,25.3279,0.7133,405348226,5.460000e+11,0
2021-01-08,SH000001,3570.1082,3588.0625,3544.8912,3577.6923,3576.2046,-6.0964,-0.1705,345557896,5.020000e+11,0

In [15]:
# 保存处理好的数据
df.to_csv('./data/pre/SH000001.csv')